.big-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.friends-list {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.friend-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem;
    line-height: 2rem;
    background-image: linear-gradient(to bottom right, blue, rgba(4, 0, 36, 0.685));
    border: 2px solid white;
    border-radius: 5px;
    margin-top: .5rem;
}

.friend-form button {
    padding: .5rem 2.5rem;
    margin-top: .5rem;
    width: 100%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(1, 147, 214), white);
    color: white;
    font-size: 2rem;
}

.add-friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.add-friend input {
    padding: .5rem;
    margin-top: 1rem;
    width: 100%;
    /* text-align: center; */
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
}



.friend {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem;
    line-height: 2rem;
    background-image: linear-gradient(to bottom right, blue, rgba(4, 0, 36, 0.685));
    border: 2px solid white;
    border-radius: 5px;
    margin-top: .5rem;
    width: 100%;
    /* max-width: 100%; */
    flex-wrap: wrap;
}

.top-box {
    display: flex;
    /* justify-content: space-between */
}

.button-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-evenly;
}

.friend-box {
    width: 70%;
}

h4 {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    color: white;
}

p {
    font-size: 1.2rem;
    font-family: 'Exo 2', sans-serif;
    color: white;
}

.button-box button {
    padding: .5rem;
    /* width: 10%; */
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(1, 147, 214), white);
    color: white;
}

.update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
}

.update-form input {
    padding: .5rem;
    margin-top: 1rem;
    width: 100%;
    /* text-align: center; */
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
}

.update-form button {
    padding: .5rem 2.5rem;
    margin-top: .5rem;
    width: 100%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(1, 147, 214), white);
    color: white;
    font-size: 2rem;
}

.inactive {
    display: none;
}